.purple-bg{
  background-color: #8A33FF;
}

.purple-color{
  color: #8A33FF;
}

.purple-bg{
  background-color: #8A33FF !important;
  border: #8A33FF !important;
}

.pink-bg{
  background-color: #B900B3 !important;
}

.pink-btn{
  background-color: #B900B3 !important;
  border: #B900B3 !important;
}
.align-bt-right{
  float: right;
  margin-top: 2rem;
}
.pink-color{
  color: #B900B3;
}

.blue-btn{
  background-color: #018EB8 !important;
  border: #018EB8 !important;
  color: white;
}

.submit-form {
  max-width: 50%;
  margin: auto;
}
.box-props{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 20px !important;
}

.margin-btn{
  margin-right: 1rem;
}